.corpoDesc {
    margin: auto;
}
.corpoDesc h2 {
    font-size: 25px;
    margin: 10px 0;
}
.corpoDesc h3 {
    font-size: 20px;
    margin: 10px 0;
    color: rgb(255, 255, 255);
}
.pDesc {
    font-size: 16px;
    margin: 10px 0;
    color: rgb(219, 219, 219);
    border-bottom: rgba(204, 204, 204, 0.563) solid 1px;
    padding-bottom: 10px;
}
.periodo {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 600;
    border-bottom: none;
    color: rgb(198, 196, 196);
    border-left: rgb(255, 255, 255) solid 2px;
    padding: 5px;

}