body {
  background-color: rgb(79, 79, 79);
}
.papel {
  background: url(/public/imagens/papel-fino-gleiton-aparecido-soares-de-souza-min.jpg);
  width: 60%;
  margin: 1em auto;
}
.fundoVidro {
  width: 85%;
  padding: 10px;
  margin: auto;
  background-color: rgba(183, 183, 183, 0.294);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
@media (max-width: 568px) {
  .papel {
    width: 100%;
  }
  .fundoVidro {
    width: 96%;
    
  }
}